html {
	background-image:url(/RGF_TopoWeb/resources/img/Ptolomeo-world-map.jpg);
	background-position: center;
}

body {
	background: #FFECC1;
	margin-left: 10em;
	margin-right: 10em;
	margin-bottom: 5em;
	margin-top: 5em;
	/* line-height: 1.6em */
}

#container {
	margin: 1rem auto;	
	width: 80%;	
	max-width: 75rem; 
	padding: 2em;
	font-family: sans-serif !important;
	font-size: 0.8em !important;
}

#footer {
	margin-top: 2em; 
	font-size: 0.8em;
}

.floatRight {
	float: right;
}

.titleOne {
	font-size: 1.8em !important;
}

.titleTwo {
	font-size: 1.4em !important;
	margin-left: 1.4em;
}

div[id$="-fragment"] {
	margin-top: 2em;
	margin-bottom: 2em;
}

.panel, .fieldset {
	background-color: #D2B48C !important;
	margin-top: 1em !important;
}

.centerInFragment {
	margin: 0.5em;
}

.gmap {
	width: 100%;
	height: 30em;
}

.ui-menuitem-text {
	font-size: 0.9em !important;
}

.separatorTop {
	margin-top: 1em !important;
	margin-bottom: 2em !important;
	height: 0.2em;
	background-color: rgb(210, 180, 140);
}

.separatorGeneral {
	margin-left: 1.4em;
	margin-bottom: 3em !important;
}

.separatorBottom {
	margin-top: 2em !important;
	margin-bottom: 1em !important;
	height: 0.2em;
	background-color: rgb(210, 180, 140);
}

/* CSS para el componente p:fragment ya que no tiene ninguna etiqueta de tipo styleClass para identificar el css */
div[id$="fragmentButtonCalcular"] {
	text-align: right;
	margin: 2em;
}

.ui-datatable tbody td.derecha, .derecha {
	text-align:right;
}

.ui-datatable tbody td.central {
	text-align:center;
}

.ui-growl-error, .ui-growl-fatal, .ui-messages .ui-messages-error, 
.ui-message.ui-message-error, .ui-messages .ui-messages-fatal, 
.ui-message.ui-message-fatal {
	color: #806837 !important;
	background-color: #ff0000 !important;
	border-color: #ff0000 !important;
	border-width: 0.4em !important;
}

.outputLabelMargin {
	margin-left: 8em;
	margin-right: 0.5em;
}

.ui-chkbox-box.ui-state-disabled {
	opacity: 0.7 !important;
}

.ui-datatable-footer, .ui-datatable-header {
	padding: 0.8em !important;
}

.imagenExportar {
	width: 1.5em;
	margin-right: 0.5em;
}

img.expando {
	margin:10px;
	vertical-align: top; 
}

.inputAcimutes-5 {
	width: 5em;
	text-align: right;
	margin-right: 2em !important;
	font-weight: normal !important;
}
